<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Register</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="newRegister()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>

    <ion-buttons end>
      <ion-label>{{ currentWorkspace }}</ion-label>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="!Register.foundRegisters.length">
      No Registers
  </ion-item>

  <ion-list *ngIf="Register.foundRegisters.length">
    <ion-item>
      <ion-select interface="popover"
        [(ngModel)]="Register.select_year"
      >
        <ion-option
          *ngFor="let year of Register.oll_years"
          (ionSelect)="select_filter('year', year)"
        >{{year}}</ion-option>
      </ion-select>

      <ion-select interface="popover" [(ngModel)]="Register.select_month">
        <ion-option
          *ngFor="let month of months"
          [disabled]="monthIsDisabled(month) ? 'false' : 'true'"
          (ionSelect)="select_filter('month', month)"
        >{{month}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="Register.foundRegisters.length">
    <ion-row>
      <ion-col col-1>Day</ion-col>
      <ion-col col-2>Article</ion-col>
      <ion-col col-3>Counterparty</ion-col>
      <ion-col col-2>Value</ion-col>
      <ion-col col-2>Notes</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngFor="let register of Register.filter_by_year_and_month">
    <ion-row>
      <ion-col col-1>
        {{ getDay(register.date) }}
      </ion-col>

      <ion-col col-2 [style.color]="register.article_type === 'Cost' ? 'red' : 'green'">
        {{ register.article_title }}
      </ion-col>

      <ion-col col-3 [style.color]="register.counterparty_type === 'Client' ? 'green' : 'blue'">
        {{ register.counterparty_name }}
      </ion-col>

      <ion-col col-2>
        {{ register.value }}
      </ion-col>

      <ion-col col-2>
        {{ register.note }}
      </ion-col>

      <ion-col col-2>
        <ion-icon name="ios-create-outline" item-end (click)="editRegister(register)"></ion-icon>

        <ion-icon name="ios-close-circle-outline" item-end
          (click)="deleteRegister(register.id)">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
