<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Register</ion-title>

    <ion-buttons end>
      <button ion-button (click)="goWorkspacePage()">
        <ion-label>{{ workspaceData.currentTitle }}</ion-label>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div text-center>
    <ion-spinner name="bubbles" text-center *ngIf="!loader"></ion-spinner>
  </div>

  <ion-list *ngIf="filter_years.length">
    <ion-item>
      <ion-select interface="popover"
        [(ngModel)]="current.year"
      >
        <ion-option
          *ngFor="let year of filter_years"
          (ionSelect)="handleFilterChange('year', year)"
        >{{year}}</ion-option>
      </ion-select>

      <ion-select interface="popover" [(ngModel)]="current.wordMonth">
        <ion-option
          *ngFor="let month of months; let i = index" [attr.data-index]="i"
          (ionSelect)="handleFilterChange('month', months.indexOf(month))"
        >{{month}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="!registers.length">
    No Registers
  </ion-item>

  <ion-list>
    <button ion-item no-lines
      *ngFor="let register of registers; let i = index" [attr.data-index]="i"
      (click)="showRegister(register)"
      [style.background-color]="i%2 != 0 ? '#f0f0f0' : '#fff'"
    >
      <button ion-button clear item-start>{{ converterDate(register.date) }}</button>
      <h2 [style.color]="register.article_type === 'Cost' ? 'red' : 'green'">
        {{ register.article_title }}
      </h2>
      <h2>
        {{ register.counterparty_name }}
      </h2>
      <h2 item-end>
        {{ register.value }}
      </h2>
    </button>
  </ion-list>

  <ion-icon class="new-model" color="primary"  (click)="newRegister()" name="ios-add-circle"></ion-icon>
</ion-content>
