<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Article</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="newArticle()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>

    <ion-buttons end>
        <ion-label>{{ currentWorkspaceTitle }}</ion-label>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="segment_now" color="primary">
    <ion-segment-button value="Cost">
      Cost
    </ion-segment-button>
    <ion-segment-button value="Revenue">
      Revenue
    </ion-segment-button>
  </ion-segment>

  <ion-item *ngIf="!foundArticles.length">
      No articles
  </ion-item>

  <div [ngSwitch]="segment_now">
    <ion-list *ngSwitchCase="'Cost'">
      <ion-item-sliding *ngFor="let article of costArticles">
        <ion-item>
          <div>
            {{ article.title }}
          </div>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button (click)="editArticle(article)">Edit</button>
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteArticle(article.id)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'Revenue'">
      <ion-item-sliding *ngFor="let article of revenueArticles">
        <ion-item>
          <div>
            {{ article.title }}
          </div>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button (click)="editArticle(article)">Edit</button>
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteArticle(article.id)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
