<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Workspace</ion-title>

    <ion-buttons end>
      <ion-label *ngIf='workspaceData.currentTitle'>{{ workspaceData.currentTitle }}</ion-label>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div text-center>
    <ion-spinner name="bubbles" text-center *ngIf="!loader"></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngIf="!workspaceData.foundWorkspaces">
      No workspaces
    </ion-item>

    <ion-grid>
      <button ion-item no-lines [style.background-color]="i%2 != 0 ? '#f0f0f0' : '#fff'"
        *ngFor="let workspace of workspaceData.foundWorkspaces; let i = index" [attr.data-index]="i"
        (click)="setCurrentWorkspace(workspace.id, workspace.title)"
      >
        <ion-row>
          <ion-col col-1>
            <ion-icon color="primary" name="star"
              *ngIf="currentWorkspace_orNot(workspace.id)"
            >
            </ion-icon>
          </ion-col>
          <ion-col col-11>{{ workspace.title }}</ion-col>
        </ion-row>
      </button>
    </ion-grid>
  </ion-list>
</ion-content>
