<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Workspace</ion-title>

    <ion-buttons end>
      <ion-label *ngIf='workspaceData.currentTitle'>{{ workspaceData.currentTitle }}</ion-label>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngIf="!workspaceData.foundWorkspaces">
      No workspaces
    </ion-item>

    <button ion-item no-lines [style.background-color]="i%2 != 0 ? '#f0f0f0' : '#fff'"
      *ngFor="let workspace of workspaceData.foundWorkspaces; let i = index" [attr.data-index]="i"
      (click)="setCurrentWorkspace(workspace.id, workspace.title)"
    >
      <ion-icon
        [color]="currentWorkspace_orNot(workspace.id) ? 'primary' : 'light'"
        [name]="currentWorkspace_orNot(workspace.id) ? 'star' : 'checkmark'">
      </ion-icon>

      {{ workspace.title }}
    </button>
  </ion-list>
</ion-content>
