<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Workspace</ion-title>

    <ion-buttons end>
        <ion-label *ngIf='workspaceData.currentTitle'>{{ workspaceData.currentTitle }}</ion-label>
        <ion-label *ngIf='!workspaceData.currentTitle'>Виберіть Workspace</ion-label>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <form [formGroup]="formWorkspace">
      <ion-row>
        <ion-col col-10>
          <ion-item>
            <ion-input type="text" autofocus formControlName="title" [(ngModel)]="titleField" placeholder="Title"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button (click)="createWorkspace()" [disabled]="formWorkspace.invalid" ion-button><ion-icon name="add"></ion-icon></button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

  <ion-list>
    <ion-item *ngIf="!workspaceData.foundWorkspaces">
        No workspaces
    </ion-item>

    <ion-item *ngFor="let workspace of workspaceData.foundWorkspaces">
      <button
        [color]="currentWorkspace_orNot(workspace.id) ? 'primary' : 'light'"
        (click)="setCurrentWorkspace(workspace.id, workspace.title)"
        item-start ion-button
      >
        <ion-icon [name]="currentWorkspace_orNot(workspace.id) ? 'checkmark' : 'star'"></ion-icon>
      </button>

      <div *ngIf='!workspaceEditOrNot(workspace.id)'>
        {{ workspace.title }}
      </div>

      <form item-content [formGroup]="formEditWorkspace" *ngIf='workspaceEditOrNot(workspace.id)'>
        <ion-input type="text" autofocus
          formControlName="edit_title"
          [(ngModel)]="edit_workspace.titleField"
        >
        </ion-input>

        <button ion-button
          (click)="updateWorkspace(workspace.id)"
          [disabled]="formEditWorkspace.invalid"
        >
          <ion-icon name="checkbox-outline"></ion-icon>
        </button>

        <button ion-button
          (click)="exitEditWorkspace()"
        >
          <ion-icon name="md-close"></ion-icon>
        </button>
      </form>

      <ion-icon name="ios-create-outline" item-end
        *ngIf='!workspaceEditOrNot(workspace.id)'
        (click)="updateWorkspace(workspace.id)"
      >
      </ion-icon>

      <ion-icon name="ios-close-circle-outline" item-end
        (click)="deleteWorkspace(workspace.id)">
      </ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
