<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Counterparty</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="newCounterparty()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="goWorkspacePage()">
        <ion-label>{{ currentWorkspaceTitle }}</ion-label>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="segment_now" color="primary">
    <ion-segment-button value="Client">
      Client
    </ion-segment-button>
    <ion-segment-button value="Vendor">
      Vendor
    </ion-segment-button>
    <ion-segment-button value="Other">
      Other
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment_now">
    <ion-list *ngSwitchCase="'Client'">
      <ion-item *ngIf="!clientCounterparty.length">
        No counterparty Client
      </ion-item>

      <ion-item-sliding *ngFor="let counterparty of clientCounterparty">
        <ion-item>
          <div>
            {{ counterparty.name }}
          </div>
          <div item-end>
            {{ counterparty.date }}
          </div>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button (click)="editCounterparty(counterparty)">Edit</button>
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteCounterparty(counterparty.id)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'Vendor'">
      <ion-item *ngIf="!vendorCounterparty.length">
        No counterparty Vendor
      </ion-item>

      <ion-item-sliding *ngFor="let counterparty of vendorCounterparty">
        <ion-item>
          <div>
            {{ counterparty.name }}
          </div>
          <div item-end>
            {{ counterparty.date }}
          </div>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button (click)="editCounterparty(counterparty)">Edit</button>
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteCounterparty(counterparty.id)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'Other'">
      <ion-item *ngIf="!otherCounterparty.length">
        No counterparty Other
      </ion-item>

      <ion-item-sliding *ngFor="let counterparty of otherCounterparty">
        <ion-item>
          <div>
            {{ counterparty.name }}
          </div>
          <div item-end>
            {{ counterparty.date }}
          </div>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button (click)="editCounterparty(counterparty)">Edit</button>
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteCounterparty(counterparty.id)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
