<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Counterparty</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="newCounterparty()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>

    <ion-buttons end>
      <ion-label>{{ currentWorkspaceTitle }}</ion-label>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="segment_now" color="primary">
    <ion-segment-button value="Client">
      Client
    </ion-segment-button>
    <ion-segment-button value="Vendor">
      Vendor
    </ion-segment-button>
    <ion-segment-button value="Other">
      Other
    </ion-segment-button>
  </ion-segment>

  <ion-item *ngIf="!foundCounterparties.length">
      No counterparty
  </ion-item>

  <div [ngSwitch]="segment_now">
    <ion-list *ngSwitchCase="'Client'">
      <ion-item *ngFor="let counterparty of clientCounterparty">
        <div>
          {{ counterparty.name }}
        </div>
        <div item-end>
          {{ counterparty.date }}
        </div>

        <ion-icon name="ios-create-outline" item-end (click)="editCounterparty(counterparty)"></ion-icon>

        <ion-icon name="ios-close-circle-outline" item-end
          (click)="deleteCounterparty(counterparty.id)">
        </ion-icon>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Vendor'">
      <ion-item *ngFor="let counterparty of vendorCounterparty">
        <div>
          {{ counterparty.name }}
        </div>
        <div item-end>
          {{ counterparty.date }}
        </div>

        <ion-icon name="ios-create-outline" item-end (click)="editCounterparty(counterparty)"></ion-icon>

        <ion-icon name="ios-close-circle-outline" item-end
          (click)="deleteCounterparty(counterparty.id)">
        </ion-icon>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Other'">
      <ion-item *ngFor="let counterparty of otherCounterparty">
        <div>
          {{ counterparty.name }}
        </div>
        <div item-end>
          {{ counterparty.date }}
        </div>

        <ion-icon name="ios-create-outline" item-end (click)="editCounterparty(counterparty)"></ion-icon>

        <ion-icon name="ios-close-circle-outline" item-end
          (click)="deleteCounterparty(counterparty.id)">
        </ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
