<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Counterparty</ion-title>

    <ion-buttons end>
      <button ion-button (click)="goWorkspacePage()">
        <ion-label>{{ currentWorkspaceTitle }}</ion-label>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div text-center>
    <ion-spinner name="bubbles" text-center *ngIf="!loader"></ion-spinner>
  </div>

  <ion-segment [(ngModel)]="segment.current" color="primary">
    <ion-segment-button *ngFor="let segment of segment.options" value={{segment}}>
      {{ segment }}
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment.current">
    <ion-list *ngSwitchCase=segment.current>
      <ion-item no-lines *ngIf="!counterparties[segment.current].length">
        Not have actice counterparty {{segment.current}}
      </ion-item>

      <ion-item-sliding *ngFor="let counterparty of counterparties[segment.current]; let i = index" [attr.data-index]="i">
        <ion-item no-lines [style.background-color]="i%2 != 0 ? '#f0f0f0' : '#fff'">
          <div>
            {{ counterparty.name }}
          </div>
          <div item-end>
            {{ formatDate(counterparty.date) }}
          </div>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button (click)="editCounterparty(counterparty)">Edit</button>
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteCounterparty(counterparty.id, counterparty.type)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-icon class="new-model" color="primary"  (click)="newCounterparty()" name="ios-add-circle"></ion-icon>
</ion-content>
